.modelcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 212px;
    max-height: 212px;
    min-height: 212px;
    max-width: 282px;
    border:1px solid #8FBACA ;
    border-radius: 10px;
    cursor: pointer;
    
}


.modelscon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    margin: 12px;
}

.modelbody {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px 16px auto;
}

.modeltitle {
    margin-bottom: 4px;
    color: rgb(32, 33, 36);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.modeldescription {
    margin-bottom: 4px;
    color: rgb(32, 33, 36);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 400;
    overflow: hidden;
    max-height: 130px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    
}
.modeldescription:hover {
    overflow-y: auto; /* Show vertical scrollbar on hover */
  }

/* Custom scrollbar styles for WebKit browsers */
.modeldescription::-webkit-scrollbar {
    width: 8px;
  }
  
  .modeldescription::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .modeldescription::-webkit-scrollbar-thumb {
    background: #8FBACA;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
  
  .modeldescription::-webkit-scrollbar-thumb:hover {
    background: #0A607E;
  }

.filter-container{
    border-radius: 10px;
    border: 1px solid #8FBACA;
    margin: 4px;
    padding: 4px;
}

.filters-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    
}

.custom-select{
    border-radius: 8px;
    border: 1px solid #8FBACA;
}

.custom-input{
    border-radius: 8px;
    border: 1px solid #8FBACA;
}