.main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #8FBACA  ;
    margin: 16px;
    box-shadow: -8px -8px 16px 0px #8FBACA;
    backdrop-filter: blur(2px);
    .body-header{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
        border-bottom: 1px solid #8FBACA;
        margin-bottom: 8px;
        

        .body-title{
            font-size: 24px;
            font-weight: 700;
            margin: 16px;
            margin-bottom: 4px;
            margin-top: 4px;

        }
        .body-subtitle{
            font-size: 20px;
            font-weight: 600;
            margin: 16px;
            margin-bottom: 4px;
            margin-top: 4px;
        }
        .body-description{
            display: flex;
        
            font-size: 18px;
            font-weight: 400;
            margin: 16px;
            margin-bottom: 4px;
            margin-top: 4px;
            align-items: flex-start;
            justify-content: center;
            text-align: start;

        }
    
    }

    .body-header2{
        display: flex;
        flex-direction: column;
        align-items: start;
        
        margin-bottom: 8px;
        .body-subtitle{
            font-size: 20px;
            font-weight: 600;
            margin: 16px;
        }
    }

    .buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
         
        
        .button{

            background-color: #0B698B;
            color: #FBFBFB;
            font-size: 14;
            cursor: pointer;
            margin: 16px;
            border-radius: 16px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;

        }
    }
}









